// FONT
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hahmlet:wght@400;500;600;700&family=Nanum+Gothic:wght@400;700;800&family=Shadows+Into+Light&display=swap");
// font-family: 'Bebas Neue', cursive;
// font-family: 'Hahmlet', serif;
// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Shadows Into Light', cursive;

// RESET
@import "reset";

$font-color: #eee;

// COMMON
body {
  background-color: black;
}

// HEADER
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #999;
  padding: 5vh 5vw;

  h1 a {
    font: bold 36px/50px "Shadows Into Light";
    color: $font-color;
  }

  #gnb {
    display: flex;

    li {
      margin: 0px 40px;

      a {
        font: 16px/1 "Shadows Into Light";
        color: $font-color;
        letter-spacing: 4px;
      }
    }
  }

  .sns {
    display: flex;

    li {
      margin: 0px 10px;

      a {
        color: $font-color;
      }
    }
  }

  .btn-menu {
    display: none;
  }
}
